<div class="container">
	<h1>Library</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-8 col-md-9">
			<h4 class="text-weight-normal">Showing {{ data.costumes.results.length}} costume.</h4>
			<div class="library">
				{{# each data.costumes.results}}
				<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="costume">
					<h2><a href="{{costumeUrl slug}}">{{{title}}}</a></h2>
					<p class="lead text-muted">{{{detachmentList detachments prefix="Posted in "}}}
							{{#if author.name.first}}by {{author.name.first}}{{/if}}
					</p>
					{{#if image}}<img src="{{{cloudinaryUrl image width=160 height=160 crop='fit' }}}" class="img pull-right">{{/if}}
					<p>{{{content.brief}}}</p>
					{{#if content.extended}}<p class="read-more"><a href="{{costumeUrl slug}}">Read more...</a></p>{{/if}}
				</div>
				{{/each}}
			</div>
		</div>
		<div class="col-sm-4 col-md-3">
			<h2>Detachments</h2>
			<div class="list-group">
				<a href="/library" class="active list-group-item">All Detachments</a>
				{{# each data.detachments }}
				<a href="{{detachmentUrl key}}" {{#if isRTL}}class="align-right"{{/if}} class=" list-group-item">{{name}}</a>
				{{/each}}
			</div>
		</div>
	</div>
	{{>pagination}}
</div>
